[Unit]
Description=Apache Airflow Webserver
After=network.target

[Service]
User=airflow
Group=airflow
Type=simple
EnvironmentFile=-/etc/sysconfig/airflow
WorkingDirectory=/var/lib/airflow
ExecStart=/opt/airflow/venv/bin/airflow webserver --pid /var/run/airflow/airflow-webserver.pid
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
