[Unit]
Description=Apache Airflow Webserver
After=network.target
# Optional: After=postgresql.service mysql.service redis.service

[Service]
User=airflow
Group=airflow
Type=simple
Environment="AIRFLOW_HOME=/opt/airflow"
Environment="AIRFLOW_CONFIG=/etc/airflow/airflow.cfg"
Environment="HOME=/opt/airflow"
WorkingDirectory=/opt/airflow
ExecStart=/opt/airflow/venv/bin/airflow api-server --pid /run/airflow/airflow-webserver.pid
Restart=on-failure
RestartSec=5s
Slice=redborder-airflowwebserver.slice

[Install]
WantedBy=multi-user.target
