[Unit]
Description=Apache Airflow Triggerer
After=network.target

[Service]
User=airflow
Group=airflow
Type=simple
EnvironmentFile=-/etc/sysconfig/airflow
WorkingDirectory=/var/lib/airflow
ExecStart=/opt/airflow/venv/bin/airflow triggerer --pid /var/run/airflow/airflow-triggerer.pid
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
