[Unit]
Description=Apache Airflow DAG Processor
After=network.target

[Service]
User=airflow
Group=airflow
Type=simple
EnvironmentFile=-/etc/sysconfig/airflow
WorkingDirectory=/var/lib/airflow
ExecStart=/opt/airflow/venv/bin/airflow dag-processor
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
