[Unit]
Description=Apache Airflow Celery Worker
After=network.target

[Service]
User=airflow
Group=airflow
Type=simple
Environment="AIRFLOW_HOME=/var/lib/airflow"
Environment="AIRFLOW_CONFIG=/etc/airflow/airflow.cfg"
Environment="HOME=/opt/airflow"
WorkingDirectory=/var/lib/airflow
ExecStart=/opt/airflow/venv/bin/airflow celery worker --pid /run/airflow/airflow-celery-worker.pid
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
